$blue: #228be6; //주석
$gray: #495057;
$pink: #f783ac;

@mixin button-color($color) {
  background: $color;
  border: 1px solid $color;
  &:hover {
    background: lighten($color, 10%);
    border: 1px solid lighten($color, 10%);
  }
  &:active {
    background: darken($color, 10%);
    border: 1px solid darken($color, 10%);
  }

  &.outline {
    color: $color;
    background: none;
    border: 1px solid $color;

    &:hover {
      background: $color;
      color: white;
      border: 1px solid white;
    }

    &:active {
      background: darken($color, 10%);
      color: white;
      border: 1px solid white;
    }
  }
}

.Button {
  display: inline-flex;
  align-items: center;

  color: white;
  font-weight: bold;

  outline: none;
  border: none;
  border-radius: 4px;

  cursor: pointer;

  &.large {
    height: 3rem;
    font-size: 1.25rem;
  }
  &.medium {
    height: 2.25rem;
    font-size: 1rem;
  }
  &.small {
    height: 1.75rem;
    font-size: 0.875rem;
  }

  padding-left: 1rem;
  padding-right: 1rem;

  background: $blue;
  &:hover {
    background: lighten($blue, 10%);
  }
  &:active {
    background: darken($blue, 10%);
  }

  &.blue {
    @include button-color($blue);
  }
  &.gray {
    @include button-color($gray);
  }
  &.pink {
    @include button-color($pink);
  }

  & + & {
    margin-left: 1rem;
  }

  &.fullWidth {
    width: 100%;
    justify-content: center;
    & + & {
      margin-left: 0;
      margin-top: 1rem;
    }
  }
}
